.bg1{
	background: #f0f0f0;
}
.title{
		font-family: 'Audiowide', cursive;
}

.bt{

	background: orange;
	padding: 2px;
	margin: 2px;
	border: 1px solid #000000;  
}

.artifika{
		font-family: 'Artifika', serif;
}



th.GALD-WOOC { 
        padding-left: 2px; 
        padding-right: 2px; 
} 

td.GALD-WOHC { 
        padding-left: 2px; 
        padding-right: 2px; 
} 
.html5_drag_border {border-style: dashed;border-color: 0x888}


.pickcolor{
	cursor:crosshair;
}

.nomargin {
margin: 0px;
padding: 0px;
}
.transparent_bg{
margin-left: 8px;
padding: 0px;	
background-image: url("/img/transparent_bg.png");
background-repeat: repeat;
}

.transparent_bg2{
margin-left: 8px;
padding: 0px;	
background-repeat: repeat;
}


.black_bg{
margin-left: 8px;
padding: 0px;	
background: #000;
}

.white_bg{
margin-left: 8px;
padding: 0px;	
background: #fff;
}

.marginbotton{
	margin: 0px 0px 8px 0px;
	padding:0px 0px 8px 0px;
}

.gwt-TabPanelBottom{
	margin:0px;
	padding:0px;
}